*{
    padding: 0;
    margin: 0;
}



.button{
    margin: 20px;
    padding: 20px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: antiquewhite;
}

.add, .delete {
    color: blue;
    padding: 10px;
}

.text {
    color: coral;
}



